[submodule "bfobject"]
	path = bfobject
	url = https://github.com/bitoverflowr/bfobject.git
[submodule "bfstreamobject"]
	path = bfstreamobject
	url = https://github.com/bitoverflowr/bfstreamobject.git
[submodule "bfclientobject"]
	path = bfclientobject
	url = https://github.com/bitoverflowr/bfclientobject.git
